*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
.flex_container{
    display: flex;
    justify-content:center;
}

/* HEADER */
#app_header{
    height: 4rem;
    background-color:rgb(39, 95, 233);
}
.barra_navigazione{
    height: 2rem;
    width: 80rem;
    border: 1px solid dotted;
    margin: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-weight: bold;
}
.left_logo {
    height: 2rem;
    width: 20rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content:space-around;
}
.center_logo{
    height: 2rem;
    width: 50rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}
.right_logo{
    height: 2rem;
    width: 20rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}
.button{
    top: 50%;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none; 
    border-radius: 15px; 
    padding: 10px;
}

/*NAV*/
#app_nav{
    height: 40rem;
    background-image: url(/img/jumbo.png);
    background-size:cover;
}  
.text_download{
    height: 30rem;
    width: 60rem;
    margin: 5rem;
}
.titolo{
    font-family: Whitney;
    font-size:50px;
    color: white;
    text-align: center;
}
.text-nav{
    color: white;
    font-family: Helvetica Neue;
    text-align: center;
    margin-top: 4rem;
}
.download{
    font-family: Helvetica;
    margin-top: 4rem;
    margin-left: 5rem;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none; 
    border-radius: 3rem; 
    padding: 10px;
    width: 15rem; 
    height: 4rem; 
    font-size:medium;
}
.browser{
    font-family: Helvetica;
    margin-top: 4rem;
    margin-right: 5rem;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none; 
    border-radius: 3rem; 
    padding: 5px;
    width: 20rem; 
    height: 4rem; 
    font-size:medium;
}

/*MAIN*/
#app_main{
    background-color: white;
}
/*first BOX*/
.big_box{
    height: 35rem;
    width: 80rem;
    background-color:white;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5rem;
}
.left-image_box{
    height: 35rem;
    width: 50rem;
    background-image: url(/img/item1.svg);
    background-size: cover;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}
.right-text_box{
    height: 27rem;
    width: 30rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    font-size:xx-large;
    padding:2rem;
    margin-left: 10rem;
}

.testouno{
    color: black;
    font-family: Helvetica Neue;
    text-align: center;
    margin-top: 4rem;   
    background-color: aqua;
}

/*second BOX* --------------------color grey*/
.color_grey_bg{
    background-color: rgb(246, 246, 246);
    padding-bottom: 5rem;
}
.big_box{
    height: 35rem;
    width: 80rem;
    
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10rem;
    
}
.left-image_box_second{
    height: 35rem;
    width: 30rem;
    
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}
.right-text_box_second{
    height: 35rem;
    width: 50rem;
    
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10rem;
}

/*Third BOX*/
.big_box{
    height: 35rem;
    width: 80rem;
    background-color:white;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10rem;
}
.left-image_box_third{
    height: 35rem;
    width: 50rem;
    background-image: url(/img/item3.svg);
    background-size: cover;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}
.right-text_box_third{
    height: 35rem;
    width: 30rem;
    background-color: pink;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10rem;
}

/*Fourth BOX*/
.color_grey_bg{
    background-color: rgb(246, 246, 246);
    padding-bottom: 5rem;
}
.big_box_fourth{
    height: 60rem;
    width: 80rem;
    margin-top: 5rem;
    background-color: rgb(246, 246, 246);
}
.final-text{
    height: 13rem;
    width: 80rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    font-size:xx-large;
    padding:5rem;
    text-align: center;
    margin-left: 2rem;
}
h4{
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: large;
}
img{
    width: 80rem;; 
    height:100rem;
    padding-bottom: 50rem;
}
.color-end-box{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    background-color: rgb(246, 246, 246); 
}
.scarica-per-mac{
    font-family: Helvetica;
    background-color: rgb(121, 131, 245);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10rem;
    padding: 0px;
    margin-left: 53rem;
    width: 14rem;
    height: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/* -------- FOOTER----------*/
#app_footer{
    background-color: rgb(35, 39, 42);
}
/* UP FOOTER*/
.up_footer{
    height: 40rem;
    width: 80rem;
    background-color: rgb(35, 39, 42);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.5rem;
}
.vertical_box_one{
    height: 40rem;
    width: 20rem;
    background-color: rgb(35, 39, 42);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3rem;
    
}
.vertical_box_prodotto,
.vertical_box_compagnia,
.vertical_box_risorse,
.vertical_box_norme{
    height: 40rem;
    width: 15rem;
    background-color: rgb(35, 39, 42);
    
    display: flex;
    align-items: stretch;
    flex-direction: left;
    justify-content: flex-start;
    margin-top: 3rem;
}
h1{
   color: rgb(121, 131, 245);
}
h3,li{
    color: white;
}
/* DOWN FOOTER*/
.down_footer{
    height: 7rem;
    width: 80rem;
    background-color: rgb(35, 39, 42);
    border-top: 2px solid rgb(121, 131, 245);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.registrati{
    font-family: Helvetica;
    background-color:rgb(121, 131, 245);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10rem;
    padding: 10px;
    margin-left: 71rem;
    width: 8rem;
    height: 3rem;
    margin-top: 2rem;
}

